@model ProyectoAeroline.Models.MantenimientosModel

@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="mb-3">Guardar</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Guardar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="mb-3">
                <label asp-for="IdMantenimiento" class="control-label"></label>
                <input asp-for="IdMantenimiento" class="form-control" />
                <span asp-validation-for="IdMantenimiento" class="text-danger"></span>
            </div>*@
            <div class="mb-3">
                <input asp-for="IdAvion" class="form-control" placeholder="IdAvion" />
                <span asp-validation-for="IdAvion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="IdEmpleado" class="form-control" placeholder="IdEmpleado" />
                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Tipo" class="form-control" placeholder="Tipo" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Costo" class="form-control" placeholder="Costo" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="CostoExtra" class="form-control" placeholder="CostoExtra" />
                <span asp-validation-for="CostoExtra" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Descripcion" class="form-control" placeholder="Descripcion" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Estado" class="form-control" placeholder="Estado" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">
                    Crear
                </button>

                <a href="/Mantenimientos/Listar" class="btn btn-outline-secondary">
                    Regresar
                </a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
